* {
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Poppins';
}
.cabecalho {
    background-color: #081767;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 7%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.turma-imagem{
    width: 25%;
}

.turma {
    background-image: linear-gradient(#081767, #607538);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.turma-div-conteudo {
    width: 35%;
}

.turma-titulo {
    padding: 24px 0;
}

.estudante-imagem {
    width: 180px;
}

.estudante-icone {
    width: 36px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}
